<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Edit Customer Support</h2>
      </div>
      <div style="text-align: right">
        <button
          class="btn btn-primary"
          routerLink="/support"
          style="margin-bottom: 20px"
        >
          Back
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form_feilds">
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="First Name"
                    value="John"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Last Name"
                    value="Doe"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Email"
                    value="john@yopmail.com"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Phone Number"
                    value="9687462474"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Query"
                    value="Lorem Lorem"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="submit">
            <button class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
