<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="tabel-page">
      <div class="title-bar">
        <h2>Change Password</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="form_feilds">
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Old Password"
                    class="form_control"
                    formControlName="oldPassword"
                  />
                  <mat-error>Old Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="New Password"
                    class="form_control"
                    formControlName="password"
                  />
                  <mat-error>New Password is required</mat-error>
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Confirm Password"
                    class="form_control"
                    formControlName="confirmPassword"
                  />
                  <mat-error *ngIf="
                  changePasswordForm.controls['confirmPassword'].hasError(
                    'required'
                  )
                ">Confirm Password is required</mat-error>
                  <mat-error
                    *ngIf="
                      changePasswordForm.controls['confirmPassword'].hasError(
                        'mustMatch'
                      )
                    "
                    >Password does not match</mat-error
                  >
                </mat-form-field>
              </div>
            </div>

            <div class="update">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
