<!-- <div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Edit Shop</h2>
      </div>
      <div style="text-align: right">
        <button
          class="btn btn-primary"
          routerLink="/manageShop"
          style="margin-bottom: 20px"
        >
          Back
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="editshop" (ngSubmit)="update_()">
            <div class="profile-upload">
              <div class="upload-img">
                <figure><img src="assets/images/profile.jpeg" /></figure>
                <div class="uploadfile">
                  <input type="file" id="myfile" name="myfile" />
                </div>
                <div class="hover-plus">
                  <i aria-hidden="true" class="fa fa-pencil"></i>
                </div>
              </div>
            </div>
            <div class="form_feilds">
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Coins"
                    formControlName="coins"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Assets"
                     
                    class="form_control"
                    formControlName="assests"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill" class="select">
                  <mat-select placeholder="skins">
                    <mat-option> User 1 </mat-option>
                    <mat-option> User 2 </mat-option>
                    <mat-option> User 3 </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill" class="select">
                  <mat-select placeholder="Music">
                    <mat-option> User 1 </mat-option>
                    <mat-option> User 2 </mat-option>
                    <mat-option> User 3 </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Cost"
                    formControlName="cost"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="submit">
            <button class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
