<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Manage Dance Parties</h2>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="filter_sec">
            <div class="filter_lft">
              <mat-form-field class="srch" floatLabel="never">
                <button mat-button matPrefix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
                <input matInput placeholder="Search Here....." />
              </mat-form-field>
            </div>
            <div class="filter_ryt">
              <button
                class="btn btn-primary"
                routerLink="/sub-admin/add-subadmin"
              >
                Add
              </button>
            </div>
          </div>
          <div class="tables">
            <mat-table #table [dataSource]="dataSource" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="ID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  ID
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.ID }}
                </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Attendees Name
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.name }}
                </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="djEntry">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  DJ Entry
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.djEntry }}
                </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="partyorg">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Party Organization
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.partyorg }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="music">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Music File
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.music }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Date/Time
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.date }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="level">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  level
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.level }}
                </mat-cell>
              </ng-container>
              <!-- action Column -->

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  Action
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ul class="action">
                    <li>
                      <i
                        aria-hidden="true"
                        class="fa fa-pencil"
                        tabindex="0"
                        routerLink="/sub-admin/edit-subadmin"
                      ></i>
                    </li>
                    <li>
                      <i
                        aria-hidden="true"
                        title="Block"
                        class="fa fa-trash"
                      ></i>
                    </li>
                  </ul>
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>

            <mat-paginator
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page of users"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
