$theme_color:#000;
$gradiant_color1:linear-gradient(230deg, #759bff, #843cf6);
$gradiant_color2:linear-gradient(316deg, #fc5286, #fbaaa2);
$gradiant_color3:linear-gradient(to bottom, #0e4cfd, #6a8eff);
$gradiant_color4: linear-gradient(135deg, #ffc480, #ff763b);
$theme-clr:#FBB03A;
$black-clr:#000;
$white-clr:#fff;