<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Edit Assets</h2>
      </div>
      <div style="text-align: right">
        <button
          class="btn btn-primary"
          routerLink="/manageAssets"
          style="margin-bottom: 20px"
        >
          Back
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="profile-upload">
              <div class="upload-img">
                <figure><img src="assets/images/profile.jpeg" /></figure>
                <div class="uploadfile">
                  <input type="file" id="myfile" name="myfile" />
                </div>
                <div class="hover-plus">
                  <i aria-hidden="true" class="fa fa-pencil"></i>
                </div>
              </div>
            </div>
            <div class="form_feilds">
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Name"
                    value="John Doe"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Price"
                    value="$350"
                    class="form_control"
                  />
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="submit">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
