<div class="login_page">
  <div class="l-form">
    <div class="logo">
      <figure>
        <img src="assets/images/logo.svg" />
      </figure>
    </div>
    <form [formGroup]="forgotpass" (ngSubmit)="forgot()" >
      <div class="form_grup">
        <mat-label>Email</mat-label>
        <mat-form-field appearance="fill">
          <input
            matInput
            class="form_control"
            type="email"
            placeholder="Email Address"
            formControlName="email"
          />
          <span style="color:red" *ngIf="email && email.invalid && email.touched"> <small> Email is required. </small></span>
        </mat-form-field>
      </div>
      <div class="forgot-pswd">
        <p routerLink="/auth/login">Back To Login</p>
      </div>
      <div class="save-btn">
        <button class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
