<div id="page-content-wrapper">
  <div class="container-fluid border-remove">
    <div class="tabel-page">
      <div class="title-bar">
        <h2>Notification Management</h2>
      </div>
      <mat-tab-group>
        <mat-tab label="Content based changes and updates">
          <div class="card">
            <div class="card-body">
              <div class="filter_sec">
                <div class="filter_lft">
                  <mat-form-field class="srch" floatLabel="never">
                    <button (click)="fetchSearchOutput($event)"  mat-button matPrefix mat-icon-button>
                      <mat-icon>search</mat-icon>
                        
                    </button>
                    <input matInput  placeholder="Search Here....." />
                  </mat-form-field>
                </div>
                <div class="filter_ryt">
                  <button
                    class="btn btn-primary"
                    routerLink="/notification/addnotification"
                  >
                    Add
                  </button>
                </div>
              </div>
              <div class="tables">
                <mat-table #table [dataSource]="dataSource" matSort>
                  <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i=index">
                      {{ currentpage*10-10+i+1 }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="User">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      User
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.type }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Message
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.message }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator  [length]="100"
                                [pageSize]="10"
                                (page)="onChangePage($event)"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                    
                  aria-label="Select page of users"
                ></mat-paginator>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Activity-Based Updates">
          <div class="card">
            <div class="card-body">
              <div class="filter_sec">
                <div class="filter_lft">
                  <mat-form-field class="srch">
                    <button mat-button matPrefix mat-icon-button>
                      <mat-icon>search</mat-icon>
                    </button >
                    <input matInput placeholder="Search Here....." />
                  </mat-form-field>
                </div>
              </div>
              <div class="tables">
                <mat-table #table [dataSource]="dataSource" matSort>
                  <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.id }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="User">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      User
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.User }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Message
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.message }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page of users"
                ></mat-paginator>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Broadcast Notification">
          <div class="card">
            <div class="card-body">
              <div class="filter_sec">
                <div class="filter_lft">
                  <mat-form-field class="srch">
                    <button mat-button matPrefix mat-icon-button>
                      <mat-icon>search</mat-icon>
                    </button>
                    <input matInput placeholder="Search Here....." />
                  </mat-form-field>
                </div>
              </div>
              <div class="tables">
                <mat-table #table [dataSource]="dataSource" matSort>
                  <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.id }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="User">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      User
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.User }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Message
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.message }}
                    </mat-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>
                </mat-table>

                <mat-paginator  [length]="100"
                                [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  
                  aria-label="Select page of users"
                ></mat-paginator>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
