.form-feild .mat-input-element {
  border: 1px solid #e3e3e3;
  border-radius: unset;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background: transparent;
  width: 100%;
  border-radius: 5px;
}
