<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Add Referrals</h2>
      </div>
      <div style="text-align: right">
        <button
          class="btn btn-primary"
          routerLink="//referrals/"
          style="margin-bottom: 20px"
        >
          Back
        </button>
      </div>
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form_feilds">
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Referrer Type"
                    value=""
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Referrer Name"
                    value=""
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Referee Name"
                    value=""
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Referrer Points"
                    value=""
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    placeholder="Referee Points"
                    value=""
                    class="form_control"
                  />
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill" class="gen_btn">
                  <input
                    matInput
                    placeholder="Referral Reward"
                    value=""
                    class="form_control"
                  />
                  <div class="submit">
                    <button class="btn btn-primary">Gereate</button>
                  </div>
                </mat-form-field>
              </div>
              <div class="form_grup">
                <mat-form-field appearance="fill" class="gen_btn">
                  <input
                    matInput
                    placeholder="Leaderboard Rewards"
                    value=""
                    class="form_control"
                  />
                  <div class="submit">
                    <button class="btn btn-primary">Gereate</button>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="submit">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
