<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="dashboard-page">
      <div class="title-bar">
        <h2>Dashboard</h2>
      </div>
      <div class="dash-cards">
        <ul class="dash_end">
          <li>
            <div class="report-box" routerLink="/pages/users/list">
              <div class="rb-left">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="rb-right">
                <p>Total Users <span>1000</span></p>
              </div>
            </div>
          </li>
          <li>
            <div class="report-box" routerLink="/pages/driver/list">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </div>
                <p>Total Gameplays <span>50</span></p>
              </div>
            </div>
          </li>
          <li>
            <div class="report-box" routerLink="/pages/booking/booking">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </div>
                <p>Total Levels <span>500</span></p>
              </div>
            </div>
          </li>

          <li>
            <div class="report-box">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <p>Total Assets <span>550</span></p>
              </div>
            </div>
          </li>
          <li>
            <div class="report-box">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <p>Total Points <span>$500</span></p>
              </div>
            </div>
          </li>
          <li>
            <div class="report-box">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <p>Total Cash Spent<span>$800</span></p>
              </div>
            </div>
          </li>
          <li>
            <div class="report-box">
              <div class="rb-right">
                <div class="rb-left">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <p>Revenue Analytics <span>$5500</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="transaction">
          <div class="trans-main">
            <div class="card">
              <div class="card-body">
                <h5>Lastest Transaction</h5>
                <ul>
                  <li>
                    <div class="lt-box">
                      <div class="ltb-frst">
                        <div class="boxlb">
                          <figure><img src=""></figure>
                        </div>
                        <div class="boxright">
                          <p><span class="blue">#KHGL852399</span>CodeABCD</p>
                        </div>
                      </div>
                      <div class="ltb-second">
                        <div class="ltb-second-left"><i class="fa fa-newspaper-o
                            blue" aria-hidden="true"></i></div>
                        <div class="ltb-second-right">
                          <p><span>Amount</span>$4,000</p>
                        </div>
                      </div>
                      <div class="ltb-third">
                        <h6>Online</h6>
                      </div>
                      <div class="ltb-forth">
                        <h6>5 mins ago</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lt-box">
                      <div class="ltb-frst">
                        <div class="boxlb">
                          <figure><img src=""></figure>
                        </div>
                        <div class="boxright">
                          <p><span class="green">#KHGL852399</span>CodeABCD</p>
                        </div>
                      </div>
                      <div class="ltb-second">
                        <div class="ltb-second-left"><i class="fa fa-newspaper-o
                            green" aria-hidden="true"></i></div>
                        <div class="ltb-second-right">
                          <p><span>Amount</span>$4,000</p>
                        </div>
                      </div>
                      <div class="ltb-third">
                        <h6>Online</h6>
                      </div>
                      <div class="ltb-forth">
                        <h6>5 mins ago</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lt-box">
                      <div class="ltb-frst">
                        <div class="boxlb">
                          <figure><img src=""></figure>
                        </div>
                        <div class="boxright">
                          <p><span class="yellow">#KHGL852399</span>CodeABCD</p>
                        </div>
                      </div>
                      <div class="ltb-second">
                        <div class="ltb-second-left"><i class="fa fa-newspaper-o
                            yellow" aria-hidden="true"></i></div>
                        <div class="ltb-second-right">
                          <p><span>Amount</span>$4,000</p>
                        </div>
                      </div>
                      <div class="ltb-third">
                        <h6>COD</h6>
                      </div>
                      <div class="ltb-forth">
                        <h6>5 mins ago</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lt-box">
                      <div class="ltb-frst">
                        <div class="boxlb">
                          <figure><img src=""></figure>
                        </div>
                        <div class="boxright">
                          <p><span class="orange">#KHGL852399</span>CodeABCD</p>
                        </div>
                      </div>
                      <div class="ltb-second">
                        <div class="ltb-second-left"><i class="fa fa-newspaper-o
                            orange" aria-hidden="true"></i></div>
                        <div class="ltb-second-right">
                          <p><span>Amount</span>$4,000</p>
                        </div>
                      </div>
                      <div class="ltb-third">
                        <h6>Online</h6>
                      </div>
                      <div class="ltb-forth">
                        <h6>5 mins ago</h6>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="lt-box">
                      <div class="ltb-frst">
                        <div class="boxlb">
                          <figure><img src=""></figure>
                        </div>
                        <div class="boxright">
                          <p><span class="blue">#KHGL852399</span>CodeABCD</p>
                        </div>
                      </div>
                      <div class="ltb-second">
                        <div class="ltb-second-left"><i class="fa fa-newspaper-o
                            blue" aria-hidden="true"></i></div>
                        <div class="ltb-second-right">
                          <p><span>Amount</span>$4,000</p>
                        </div>
                      </div>
                      <div class="ltb-third">
                        <h6>COD</h6>
                      </div>
                      <div class="ltb-forth">
                        <h6>5 mins ago</h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="trans-right">
            <div class="card">
              <div class="card-body">
                <div class="cd-header">
                  <h5>Revenue</h5>
                  <div class="dropselect">
                    <select name="" id=""
                      (change)="onChangeR($event.target.value)">
                      <option value="Category">Category</option>
                      <option value="Online">Online</option>
                    </select>
                  </div>
                </div>
                <div *ngIf="revenue != null && statusR"
                  echarts
                  [initOpts]="initOptsR"
                  [options]="optionR"
                  style="user-select: none">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      <div class="driver-customer">
        <div class="user">
          <div class="card">
            <div class="card-body">
              <div class="cd-header">
                <h5>Total Bookings</h5>
                <div class="dropselect">
                  <select name="" id="">
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                  </select>
                </div>
              </div>
              <div class="customer">
                <div
                  echarts
                  [options]="option"
                  [initOpts]="initOpts"
                  class="demo-chart"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="user">
          <div class="card">
            <div class="card-body">
              <div class="cd-header">
                <h5>Total Bookings</h5>
                <div class="dropselect">
                  <select name="" id="">
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                  </select>
                </div>
              </div>
              <div class="customer">
                <div
                  echarts
                  [options]="optionPie"
                  [initOpts]="initOpts"
                  class="demo-chart"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
